[Unit]
Description=Zoef Jupyter
After=network.target
After=ssh.service
After=network-online.target

[Service]
User=zoef
ExecStart=/bin/bash -c "source /opt/ros/melodic/setup.bash && source /home/zoef/zoef_ws/devel/setup.bash && cd /home/zoef/jupyter-ros/notebooks && source /home/zoef/jupyter/bin/activate && jupyter nbextension enable --py --sys-prefix jupyros && jupyter notebook --ip='0.0.0.0' --NotebookApp.token='' --NotebookApp.password=''"

[Install]
WantedBy=multi-user.target
