[Unit]
Description=Mirte ROS
After=network.target
After=ssh.service
After=network-online.target

[Service]
User=mirte 
ExecStart=/bin/bash -c "source /home/mirte/mirte_ws/install/setup.bash && ros2 launch mirte_bringup minimal.launch.py"

[Install]
WantedBy=multi-user.target
