[Unit]
Description=Mirte Wifi AP
After=NetworkManager.service

[Service]
KillMode=process
ExecStart=/bin/bash -c "/usr/local/src/mirte/mirte-install-scripts/wifi-watchdog.sh"

[Install]
WantedBy=multi-user.target
