[Unit]
Description=Mirte Web Interface
After=network.target
After=ssh.service
After=network-online.target

[Service]
User=mirte
ExecStart=/bin/bash -c "cd /usr/local/src/mirte/mirte_web_interface/ && source ./node_env/bin/activate && npm run shell"

[Install]
WantedBy=multi-user.target
