[Unit]
Description=Zoef ROS
After=network.target
After=ssh.service
After=network-online.target

[Service]
# Preferably this is run as zoef, but telemetrix does not
# work correctly from here (even though zoef has the right
# rights. For now, root user seems to work as well.
#User=zoef 
ExecStart=/bin/bash -c "source /home/zoef/zoef_ws/devel/setup.bash && roslaunch zoef_ros_package hw_control.launch"

[Install]
WantedBy=multi-user.target
