[Unit]
Description=Zoef Wifi AP
After=NetworkManager.service

[Service]
KillMode=process
ExecStart=/bin/bash -c "/usr/local/src/zoef/zoef_install_scripts/network_setup.sh"

[Install]
WantedBy=multi-user.target
